body {
    background-color: black;
    justify-content: space-between;
    display: flex;
    flex-direction: row;
}


h1 {
    width: 500px;
    color: white;
}

h2 {
    color: white;
}

.card {
    width: auto;
    margin: 20px;
    padding: 10px;
}